name = "ClimaCalibrate"
uuid = "4347a170-ebd6-470c-89d3-5c705c0cacc2"
authors = ["Climate Modeling Alliance"]
version = "0.2.0"

[deps]
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
EnsembleKalmanProcesses = "aa8a2aa5-91d8-4396-bcef-d4f2ec43552d"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
YAML = "ddb6d928-2868-570f-bddf-ab3f9cf99eb6"

[weakdeps]
CalibrateEmulateSample = "95e48a1f-0bec-4818-9538-3db4340308e3"
ClimaAnalysis = "29b5916a-a76c-4e73-9657-3c8fd22e65e6"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NaNStatistics = "b946abbf-3ea7-4610-9019-9858bfdeaf2d"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[extensions]
CESExt = "CalibrateEmulateSample"
ClimaAnalysisExt = ["ClimaAnalysis", "NaNStatistics", "Statistics", "LinearAlgebra"]

[compat]
Aqua = "0.8"
CalibrateEmulateSample = "0.5, 0.6, 0.7"
ClimaAnalysis = "0.5.20"
ClimaParams = "0.10"
Conda = "1.7, 1.8, 1.9, 1.10"
Dates = "1"
Distributed = "1"
Distributions = "0.25"
EnsembleKalmanProcesses = "2.5"
JLD2 = "0.4, 0.5, 0.6"
LinearAlgebra = "1"
Logging = "1.10, 1.11"
NaNStatistics = "0.6.8 - 0.6.50, 0.6.53"
OrderedCollections = "1.3"
Random = "1"
SafeTestsets = "0.1"
Statistics = "1"
TOML = "1"
Test = "1"
YAML = "0.4"
julia = "1.9"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
CalibrateEmulateSample = "95e48a1f-0bec-4818-9538-3db4340308e3"
ClimaAnalysis = "29b5916a-a76c-4e73-9657-3c8fd22e65e6"
ClimaParams = "5c42b081-d73a-476f-9059-fd94b934656c"
Conda = "8f4d0f93-b110-5947-807f-2305c1781a2d"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NaNStatistics = "b946abbf-3ea7-4610-9019-9858bfdeaf2d"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "CalibrateEmulateSample", "ClimaAnalysis", "ClimaParams", "Conda", "LinearAlgebra", "NaNStatistics", "OrderedCollections", "SafeTestsets", "Statistics", "Test"]
