name = "ClimaCalibrate"
uuid = "4347a170-ebd6-470c-89d3-5c705c0cacc2"
authors = ["Climate Modeling Alliance"]
version = "0.0.1"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
EnsembleKalmanProcesses = "aa8a2aa5-91d8-4396-bcef-d4f2ec43552d"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
YAML = "ddb6d928-2868-570f-bddf-ab3f9cf99eb6"

[weakdeps]
CalibrateEmulateSample = "95e48a1f-0bec-4818-9538-3db4340308e3"

[extensions]
CESExt = "CalibrateEmulateSample"

[compat]
CalibrateEmulateSample = "0.5"
Distributions = "0.25"
EnsembleKalmanProcesses = "1"
JLD2 = "0.4"
Random = "1"
TOML = "1"
YAML = "0.4"
julia = "1.9"
